/* Para tirar margin e padding de todos os elementos */
*{
    margin: 0;
    padding: 0;
}
/* Para tirar margin e padding de todos os elementos */

body{
    font-family:Arial, Helvetica, sans-serif;
background-color: black;
}

.container{
    max-width: 1000px;
    margin: auto;
}

header{
    background-color: #48C5CE;
    text-align: center;
    color: white;
    padding: 10px;
}

.title{
    font-size: 26px;
}

section{
    color: black;
    padding: 20px;
    background-image: url(../images/people.jpg);
    background-size: cover;
    overflow: hidden;
}

.formContainer{
    max-width: 230px;
    background-color: #FFFFFFBB;/*O BB ao final indica o nível de transparência do background*/   
    padding: 20px; 
    float: right;
}

h2{
    font-size: 16px;
}

.mb{
    margin-bottom: 15px;
}

input, select{
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    border: none;
    margin-bottom: 10px;
}

input[type="submit"]{
    color: white;
    background-color: #48C5CE;
    font-weight: bold;
}

select{
    
    /*Retirar ícone inicial de seleção em diferentes tipos de navegadores*/
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;

    /*Colocar imagem personalizada no lugar do ícone de seleção*/
    background-image: url(../images/arrow.jpg);
    background-repeat: no-repeat;

    /*Posicionamento do novo ícone de seleção*/
    background-position-x: calc(100% - 10px);
    background-position-y: center;
}

footer{
    background-color: #202121;
    padding: 40px;
    text-align: center;
}

.picture{
    width: 160px;    
}

.description{
    display: inline-block;  
    text-align: left;  
    color: white;
    max-width: 40%;
    margin-left: 40px;
}

.description p, .description h3{
    margin-bottom: 20px;
}

.description h3{
    font-size: 24px;
}

.subfooter{
    background-color: black;
    padding: 80px;
}

/* RESPONSIVITY CAMP BELOW*/
@media screen and (max-width: 500px){
    
    /*HEADER RESPONSIVITY CONFIGURATION*/
    header{
        background-color: #48C5CE;
        text-align: center;
        color: white;
        padding: 15px;
    }
    
    /*SUBSCRIPTION CAMP RESPONSIVITY CONFIGURATION*/
    .formContainer{
        max-width: 350px;
        background-color: #FFFFFFBB;/*O BB ao final indica o nível de transparência do background*/   
        padding: 20px; 
        float: none;
        margin-left: 25px;
        text-align: justify;
    }

    /*FOOTER CAMP RESPONSIVITY CONFIGURATION*/
    footer{
        background-color: #202121;
        padding: 40px;
        text-align: center;
    }
    
    .picture{
        width: 160px;    
    }
    
    .description{
        display: inline-block;  
        text-align: left;  
        color: white;
        max-width: 40%;
        margin-left: 40px;
    }
    
    .description p, .description h3{
        margin-bottom: 20px;
    }
    
    .description h3{
        font-size: 20px;
    }
    
    .subfooter{
        background-color: black;
        padding: 80px;
    }

}
/* END OF THE RESPONSIVITY CAMP */